---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import FeatureShowcase from '../../components/FeatureShowcase.astro';
import FeatureGrid from '../../components/FeatureGrid.astro';
import TechStack from '../../components/TechStack.astro';
import Download from '../../components/Download.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/global.css';
---

<Layout title="Qollect - Effortless mark. Instant recall." description="A modern cross-platform clipboard manager that turns copy-paste into a superpower." lang="en">
  <Navbar />
  <main>
    <Hero />
    <FeatureShowcase />
    <FeatureGrid />
    <TechStack />
    <Download />
  </main>
  <Footer />
</Layout>
